@using Microsoft.AspNetCore.Components.Web
@using PTDoc.UI.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/PTDoc.UI/css/app.css" />
    <link rel="stylesheet" href="_content/PTDoc.UI/PTDoc.UI.bundle.scp.css" />
    <link rel="stylesheet" href="PTDoc.Web.styles.css" />
    <HeadOutlet />
</head>
<body>
    <AppRoot />

    <script src="_content/PTDoc.UI/js/theme.js"></script>
    <script src="js/auth.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
