@namespace PTDoc.UI.Components.Layout

@inherits LayoutComponentBase


<div class="page">
    <GlobalHeader @bind-IsMenuOpen="isMenuOpen" />
    
    <div class="page-content">
        <div class="sidebar @(isMenuOpen ? "open" : "closed")">
            <NavMenu />
        </div>

        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
    private bool isMenuOpen = true; // Default to open on desktop
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
